@import 'variables', 'mixins', 'resets';

#banner {
	// Short banner (Want to add animation)
	// Evened out banner
	padding-top: calc(122px + 2em);
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	flex: 1 1 30%;
	background: $greygrad, url(./webimages/malaysia.jpg);
	background-attachment: fixed;
	.container {
		background-color: $clr3;
		flex-flow: row wrap;

		h1 {
			padding: 1em;
			flex-wrap: wrap;
			animation: fadeIn linear 2s;
			object-fit: contain;
			font-size: max(0.1em, min(1.5em, 5em));
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
		p {
			padding: 2em;
			font-size: 1.5rem;
		}
	}
}
