@import 'variables', 'mixins', 'resets';

// navbar section

header {
	text-align: right;
	display: flex;
	justify-content: space-around;
	position: fixed;
	transition: opacity .5s ease-in;
	opacity: 1;
	width: 100vw;
	z-index: 1000;
	margin-bottom: 1rem;
	background: $clr4;
	justify-content: center;


	@media (min-width: $desktop) {
		justify-content: space-between;
		flex-flow: row wrap;
	}
	// Attempting to fix logo responsiveness
}
.logo-container {
	display: grid;
	place-content: center;
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
	padding: 1.5rem;
	z-index: 1;
	@media (min-width: $desktop) {
		padding: 1rem;
		justify-self: flex-start;
		transform: translate(100%, -20%);
	}

	img {
		object-fit: contain;
		width: 12rem;
		height: 5rem;
		border-radius: 20%;
		@media (max-width: 600px) {
			width: 8rem;
			height: 2rem;
			transform: translateX(-5vw);
		}
	}
}
// Switches link positioning based on device width
nav {
	display: block;
	transform: scaleY(1);
	transform-origin: top;
	position: absolute;
	right: 0%;
	top: 30%;
	@media (max-width: $desktop) {
		width: 100%;
		background: $clr4;
		transform: scaleY(0);
		transition: transform 0.5s ease;
		transform-origin: top;
	}

	ul {
		list-style: none;
		position: relative;
		display: inline-block;
		margin-right: 2em;

		top: -0.5rem;
		z-index: 0;
		@media (min-width: $desktop) {
			display: flex;
			justify-content: flex-end;
		}
		img {
			object-fit: cover;
		}

		li {
			text-decoration: none;
			text-transform: uppercase;
			margin-bottom: 1em;
			margin-right: 0.5em;
			font-weight: 600;
			font-size: clamp(0.8rem, 1rem, 1.1rem);
			&:hover {
				border-bottom: 2px solid gold;
				color: gold;
			}

			a {
				color: white;
				text-decoration: none;
				padding: 0.5em;
				display: inline-block;
				opacity: 0;
				transition: opacity 0.1s ease-in-out 0s;

				@media (min-width: $desktop) {
					opacity: 1;
					&:hover {
						border-bottom: 2px solid gold;
					}
				}
			}
			&:hover {
				color: gold;
				transform: scale(1.1);
				display: inline-block;
				border-bottom: 0;
				opacity: 1;
				transition: all 0.05s linear;
			}
		}
	}
}

// Creating hover effect for links
// @for $i from 1 through 6 {
// 	.link-#{$i}::after {
// 		position: absolute;
// 		top: calc((#{$i}-1) * 15%);
// 		right: 0;
// 		content: 'sdsd';
// 		width: 100%;
// 		height: 12%;
// 		background-color: black;
// 		z-index: -1;
// 		transform: scaleX(0);
// 		transform-origin: left;
// 		transition: all 0.25s ease-in;
// 		@media (min-width: $desktop) {
// 			visibility: hidden;
// 		}

// 		.link-#{$i}:hover::after {
// 			transform: scaleX(1);
// 			transform-origin: right;
// 		}
// 	}
// }

// Expandable section with menu icon + hover effects
.nav-toggle {
	display: none;
	@media (max-width: $desktop) {
		&:checked ~ nav {
			display: block;
			transform: scaleY(1);
			transform-origin: top;

			a {
				opacity: 1;
				transition: opacity 0.25s ease-in-out 0.25s;
			}

			li:hover {
				border-bottom: 2px solid gold;
				transition: all 0.25s ease-in-out;
			}
		}
	}

	&-label {
		position: absolute;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5rem;

		.icon-container {
			display: flex;
			border-radius: 50%;
			position: relative;
			padding: 1rem;
			transform: translateX(10%);
			transition: all 250ms ease;
			transform: scale(0.8);

			@media (min-width: $desktop) {
				display: none;
			}
			color: white;
			transform: scale(0.9);

			&:hover,
			&:active {
				background-color: rgba(255, 255, 250, 0.2);
			}
		}
	}
}
