@import 'variables', 'mixins';

// Some prefixes/utility classes
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $def-font;
}

body {
	font-size: clamp(0.2rem, 1.2rem, 1.4rem);
	overflow-x: hidden;
	color: white;
	background: white;
}

h1 {
	font-size: 2rem;
}

:is(h1, h2, h3) {
	line-height: 1.5;
	font-family: $heading;
	font-weight: 700;
	color: white;
}

section {
	padding: 3rem;
}
.container {
	margin-inline: auto;
	width: 100%;
}

.img {
	max-width: 100%;
	display: block;
}
