@import 'variables', 'mixins', 'resets';

.Skill {
	display: grid;
	gap: 2rem;
	background: $clr4;
	padding: 2rem;
	text-align: center;

	&_1,
	&_2,
	&_3,
	.Future_plan,
	.Project_1,
	.Project_2,
	.Project_3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
		border-radius: 1rem;
		position: relative;
		padding: 3em 0;
		background: $grad1;
		transition: all 0.25s linear;
		max-width: 100%;
		@include hover-darken();
		@media (max-width: $phone) {
			font-size: 0.8em;
		}
		a {
			text-decoration: none;
			transition: all 0.25s ease;
			&:hover,
			&:active {
				transform: scale(1.05);
			}
			h1:hover,
			h1:active {
				color: gold;
				text-decoration: underline;
			}
		}

		&:hover,
		&:active {
			transform: translateY(-1em);
		}
		& > * {
			padding: 1rem;
		}
	}

	.icon_container {
		display: flex;
		width: 100%;
		position: absolute;
		bottom: -1em;
		left: 0;
		justify-content: center;
		align-items: flex-end;
		padding: 1rem;
		margin-top: 1rem;
		img {
			width: 2rem;
			height: 2rem;
			background-color: white;
			margin-bottom: 1em;
			margin-left: 1rem;
			padding: 0;
			border-radius: 20%;
		}
		& > * {
			padding: 1rem;
		}
	}
	.photo {
		width: 50%;
		height: 50%;
		padding: 0;
		margin: 0;
		& > * {
			border-radius: 2em;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	@media (min-width: $desktop) {
		grid: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr / repeat(auto-fit, minmax(20ch, 1fr));
		grid-auto-flow: row;
		position: relative;

		h1,
		h3,
		p {
			text-align: center;
			padding-top: 0;
		}

		&_title {
			grid-column: 2/3;
		}
		.Future_plan,
		.Project_3 {
			place-items: center;
			display: flex;
			justify-content: center;
			height: 100%;
			width: 100%;
		}

		&_1,
		&_2,
		&_3 {
			grid-row: 2/3;
			position: relative;
		}

		.Future_plan {
			grid-row: 3/4;
			grid-column: 2/3;
		}

		.Project_title {
			grid-row: 4/5;
			grid-column: 2/3;
		}
		.Project_1,
		.Project_2,
		.Project_3 {
			grid-row: 5/6;
		}
	}
}
