$grad1: linear-gradient(
	to right top,
	#e38800,
	#ab8f00,
	#6f8f00,
	#25891e,
	#007f42,
	#007460
);
// hsl(31, 72%, 47%),
// hsl(28, 81%, 46%),
// hsl(23, 88%, 46%),
// hsl(17, 89%, 47%),
// hsl(8, 86%, 50%)
$greygrad: linear-gradient(rgba(0, 0, 0, 0.8), #ffffff94);
$clr1: #e38800;
$clr2: #ab8f00;
$clr3: #6f8f00;
$clr4: #25891e;
$clr5: #007f42;
$clr6: #007460;
$def-font: 'Montserrat', sans-serif;
$heading: 'Montserrat', sans-serif;
$accent: 'Roboto', sans-serif;
$bold: 900;
$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$Lgdesktop: 1920px;
