$grad1: linear-gradient(to right top,
    #cf7c22,
    #d66f16,
    #de5f0e,
    #e54b0d,
    #ed2f13);
$greygrad: linear-gradient(rgba(0, 0, 0, 0.8), #ffffff94);
$clr1: #cf7c22;
$clr2: #d66f16;
$clr3: #de5f0e;
$clr4: #e54b0d;
$clr5: #ed2f13;
$def-font: Monstserrat,
sans-serif;