$grad1: linear-gradient(
	to right top,
	#e38800,
	#ab8f00,
	#6f8f00,
	#25891e,
	#007f42,
	#007460
);
// hsl(31, 72%, 47%),
// hsl(28, 81%, 46%),
// hsl(23, 88%, 46%),
// hsl(17, 89%, 47%),
// hsl(8, 86%, 50%)
$greygrad: linear-gradient(rgba(0, 0, 0, 0.8), #ffffff94);
$clr1: #e38800;
$clr2: #ab8f00;
$clr3: #6f8f00;
$clr4: #25891e;
$clr5: #007f42;
$clr6: #007460;
$def-font: 'Montserrat', sans-serif;
$heading: 'Playfair Display', sans-serif;
$accent: 'Roboto', sans-serif;
$bold: 900;
$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$Lgdesktop: 1920px;

@mixin flexcenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 50%;
	flex-flow: $direction wrap;
}

@mixin test-border($thickness) {
	border: $thickness solid black;
}

// Some prefixes/utility classes

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $def-font;
}

body {
	font-size: 1.5125rem;
}

:is(h1, h2, h3) {
	line-height: 1.5;
	font-family: $heading;
	font-weight: $bold;
}

section {
	padding: 3rem;
}
.container {
	margin-inline: auto;
	width: 100%;
}

.img {
	max-width: 100%;
	display: block;
}

// navbar section

header {
	text-align: right;
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 100vw;
	z-index: 1000;
	margin-bottom: 1rem;
	background: $clr3;
	justify-content: center;

	@media (min-width: $Lgdesktop) {
		justify-content: space-around;
		flex-flow: row wrap;
	}
	// Attempting to fix logo responsiveness
}
.logo-container {
	display: flex;
	border-radius: 50%;
	width: 6rem;
	height: 6rem;
	margin: 0.5rem;
	padding: 1rem;
	z-index: 1;

	@media (max-width: 600px) {
		transform: translateX(-15vw);
	}
	@media (min-width: $Lgdesktop) {
		padding: 0;
		justify-self: flex-end;
		transform: translate(-600%, -10%);
	}

	img {
		object-fit: cover;
	}
}
// Switches link positioning based on device width
nav {
	position: absolute;
	right: 0%;
	top: 30%;
	width: 100%;
	background: $clr3;
	transform: scaleY(0);
	transition: all 0.5s ease;
	transform-origin: top;

	ul {
		list-style: none;
		position: relative;
		display: inline-block;
		// padding: 1em;
		top: -1rem;
		z-index: 0;
		@media (min-width: $Lgdesktop) {
			display: flex;
			justify-content: flex-end;
		}
		img {
			object-fit: cover;
		}

		li {
			text-decoration: none;
			text-transform: uppercase;
			margin-bottom: 1em;
			margin-right: 2em;
			font-weight: 600;
			a {
				color: white;
				text-decoration: none;
				padding: 0.5em;
				display: inline-block;
				opacity: 0;
				transition: opacity 0.25s ease-in-out 0.25s;

				&:hover {
					color: black;
				}
			}
		}
	}
}

// Creating hover effect for links
@for $i from 1 through 6 {
	.link-#{$i}::after {
		position: absolute;
		top: calc((#{$i}-1) * 15%);
		right: 0;
		content: '';
		width: 100%;
		height: 12%;
		background-color: black;
		z-index: -1;
		transform: scaleX(0);
		transform-origin: left;
		transition: all 0.25s ease-in;
		@media (min-width: $desktop) {
			visibility: hidden;
		}

		.link-#{$i}:hover::after {
			transform: scaleX(1);
			transform-origin: right;
		}
	}
}
// Expandable section with menu icon + hover effects
.nav-toggle {
	display: none;
	&:checked ~ nav {
		display: block;
		transform: scaleY(1);
		transform-origin: top;

		a {
			opacity: 1;
		}
	}

	&-label {
		position: absolute;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5rem;

		.icon-container {
			display: flex;
			border-radius: 50%;
			position: relative;
			padding: 1rem;
			transform: translateX(10%);
			transition: all 250ms ease;

			&:hover {
				background-color: rgba(255, 255, 250, 0.2);
			}
		}
	}
}

// Short banner (Want to add animation)

#banner {
	// evened out banner
	padding-top: calc(122px + 2em);
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	flex: 1 1 30%;
	.container {
		background-color: $clr3;
		flex-flow: row wrap;

		h1 {
			padding: 1em;
			flex-wrap: wrap;
			animation: fadeIn linear 2s;
			object-fit: contain;
			font-size: 2em;
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
		p {
			padding: 2em;
			font-size: 1.5rem;
		}
	}
}

//Introduction bit

#Introduction {
	display: flex;
	flex-flow: row wrap;
	background: $grad1;
	width: 100vw;

	span {
		font-weight: bold;
		font-size: 1.4rem;
	}

	.container {
		display: flex;
		gap: 1em;
		flex-flow: row wrap;
		padding: 1rem;

		& > * {
			flex: 1 1 20vw;
			display: flex;
			flex-flow: column wrap;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			border-radius: 2em;
			padding: 2rem;
			margin-bottom: 1rem;
			transition: all 0.15s ease-in;
			position: relative;
			z-index: 1;

			&::after {
				position: absolute;
				content: '';
				background: $clr3;
				width: 100%;
				border-radius: 2em;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				transform: scale(0);
				transform-origin: bottom right;
				transition: transform 0.25s ease-in;
			}
			
			&:hover {
				border-radius: 2em;
				transform: translate3D(0, -1px, 0) scale(1.06);
				box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
				&::after {
					transform: scale(1);
					transform-origin: top left;
					border-radius: 2em;
				}
			}
		}
		& > * + * {
			margin-left: 0;

			@media (min-width: 390px) {
				margin-left: 1rem;
			}
		}

		.Photo-box {
			display: flex;
			align-items: center;
			align-self: center;
			box-shadow: none;

			&::after {
				visibility: hidden;
			}

			img {
				object-fit: contain;
				// position: absolute;
				// @include test-border(0.2rem);
				width: 15rem;
				height: 15rem;
				top: 0;
				border-radius: 50%;
			}
		}
	}
}

footer {
	background: $grad1;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: center;
	position: relative;

	.Contact_links_5 {
		position: absolute;
		top: 2%;
		left: 2%;
		color: green;
		a {
			color: black;

			i:hover {
				transition: all 0.25s linear;
				transform: translate3D(0, -1px, 0) scale(1.3);
			}
		}
	}

	.Quotes {
		display: flex;
		flex-flow: column wrap;
		gap: 2em;
		margin: 2em auto;
		font-size: 2rem;

		p {
			font-size: 1.5rem;
		}
	}

	.Contact_links {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		gap: Min(8em, 5vw);
		padding: 2rem;

		a {
			color: black;
			font-style: italic;

			&:hover {
				animation: swivel linear 2s infinite;

				@keyframes swivel {
					0% {
						transform: rotateZ(0deg);
					}
					25% {
						transform: rotateZ(15deg);
					}
					75% {
						transform: rotateZ(-15deg);
					}

					100% {
						transform: rotateZ(0deg);
					}
				}
			}
		}

		> * {
			display: flex;
			align-items: center;
			flex-direction: row wrap;
			gap: 2em;
		}
	}
}
