$grad1: linear-gradient(
	to right top,
	#cf7c22,
	#d66f16,
	#de5f0e,
	#e54b0d,
	#ed2f13
);
$greygrad: linear-gradient(rgba(0, 0, 0, 0.8), #ffffff94);
$clr1: #cf7c22;
$clr2: #d66f16;
$clr3: #de5f0e;
$clr4: #e54b0d;
$clr5: #ed2f13;
$def-font: 'Montserrat', sans-serif;
$heading: 'Playfair Display', sans-serif;
$accent: 'Roboto', sans-serif;
$bold: 900;
$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$Lgdesktop: 1920px;

@mixin flexcenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 50%;
	flex-flow: $direction wrap;
}

@mixin test-border($thickness) {
	border: $thickness solid black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $def-font;
}

body {
	font-size: 1.5125rem;
}

:is(h1, h2, h3) {
	line-height: 1.5;
	font-family: $heading;
	font-weight: $bold;
}

section {
	padding: 3rem;
}
.container {
	margin-inline: auto;
	width: 100%;
	// @include test-border(0.1rem);
}

.img {
	max-width: 100%;
	display: block;
}

header {
	text-align: right;
	display: flex;
	justify-content: space-around;
	position: fixed;
	width: 100vw;
	z-index: 1000;
	margin-bottom: 1rem;
	background: $clr2;
	justify-content: center;

	@media (min-width: $Lgdesktop) {
		justify-content: space-around;
		flex-flow: row wrap;
	}
	// Attempting to fix logo responsiveness
	.logo-container {
		display: flex;
		border-radius: 50%;
		width: 6rem;
		height: 6rem;
		margin: 0.5rem;
		padding: 1rem;
		z-index: 1;

		@media (max-width: 480px) {
			visibility: hidden;
		}
		@media (min-width: $Lgdesktop) {
			justify-self: flex-start;
		}
		img {
			object-fit: cover;
		}
	}
	// Switches link positioning based on device width
	nav {
		position: absolute;
		right: 0%;
		top: 30%;
		width: 100%;
		background: $clr2;
		transform: scaleY(0);
		transition: all 0.5s ease;
		transform-origin: top;

		ul {
			list-style: none;
			position: relative;
			display: inline-block;
			// padding: 1em;
			top: -1rem;
			z-index: 0;
			@media (min-width: $Lgdesktop) {
				display: flex;
				justify-content: flex-end;
			}
			img {
				object-fit: cover;
			}

			li {
				text-decoration: none;
				text-transform: uppercase;
				margin-bottom: 1em;
				margin-right: 2em;
				font-weight: 600;
				a {
					color: white;
					text-decoration: none;
					padding: 0.5em;
					display: inline-block;
					opacity: 0;
					transition: opacity 0.25s ease-in-out 0.25s;

					&:hover {
						color: black;
					}
				}
			}
		}
	}
}
// Creating hover effect for links
@for $i from 1 through 6 {
	.link-#{$i}::after {
		position: absolute;
		top: calc((#{$i}-1) * 15%);
		right: 0;
		content: '';
		width: 100%;
		height: 12%;
		background-color: rgba(255, 255, 255, 0.2);
		z-index: -1;
		transform: scaleX(0);
		transform-origin: left;
		transition: all 0.25s ease-in;
	}

	.link-#{$i}:hover::after {
		transform: scaleX(1);
		transform-origin: right;
	}
}
// Expandable section with menu icon + hover effects
.nav-toggle {
	display: none;
	&:checked ~ nav {
		display: block;
		transform: scaleY(1);
		transform-origin: bottom;

		a {
			opacity: 1;
		}
	}

	&-label {
		position: absolute;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5rem;

		.icon-container {
			display: flex;
			border-radius: 50%;
			position: relative;
			padding: 1rem;
			transform: translateX(10%);
			transition: all 250ms ease;

			&:hover {
				background-color: rgba(255, 255, 250, 0.2);
			}
		}
	}
}

#banner {
	padding-top: 112px;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	flex: 1 1 30%;
	.container {
		background-color: $clr3;

		h1 {
			padding-top: 1em;
			flex-wrap: wrap;
		}
		p {
			padding: 2em;
			font-size: 1.5rem;
		}
	}
}

#Introduction {
	display: flex;
	flex-flow: row wrap;
	background: $grad1;
	width: 100vw;

	span {
		font-weight: bold;
		font-size: 1.4rem;
	}

	.container {
		display: flex;
		flex-flow: row wrap;
		padding: 1rem;

		& > * {
			flex: 1 1 20vw;
			display: flex;
			flex-flow: column wrap;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			border-radius: 2em;
			padding: 2rem;
			margin-bottom: 1rem;
			transition: all 0.15s ease-in;

			&:hover {
				transform: translate3D(0, -1px, 0) scale(1.06);
				box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
			}
		}
		& > * + * {
			margin-left: 0;

			@media (min-width: 390px) {
				margin-left: 1rem;
			}
		}

		.Photo-box {
			// @include test-border(0.2rem);
			// width: 10%;
			// height: 2rem;
			// position: relative;
			display: flex;
			align-items: center;
			align-self: center;
			box-shadow: none;

			img {
				object-fit: contain;
				// position: absolute;
				// @include test-border(0.2rem);
				width: 15rem;
				height: 15rem;
				top: 0;
				border-radius: 50%;
			}
		}
	}
}

// #banner{
//   background: linear-gradient(rgba(0,0,0,0.5), #ffffff44) , url(https://img4.goodfon.com/original/1920x1080/6/7e/malaziia-ulitsa-street-malaysia.jpg);
//   background-size: cover;
//   background-position: center;
//   height: 110vh;
//   overflow: hidden;
//   margin-top: -20px;

// }

// .McMasterlogo{
//   width: 150px;
// height: 70%;
//   position: absolute;
//   top: 1%;
//   right: 10%;
//   z-index: 3;

// }

// .banner-text{
//   text-align: center;
//   color: whitesmoke;
//   padding-top: 5%;
//   padding-left: 10%;
//   width: 80%;

// }

// .banner-text h1{
//   font-size: 50px;

// }
// .banner-text p{
//   font-size: 20px;
//   font-style: italic;
//    font-family: 'Raleway', sans-serif;

// }
// .banner-btn{
//   margin: 70px auto 0;
//   font-family: 'Verdana', sans-serif;

// }

// .banner-btn a{

//       width: 20%;
//       font-size: 25px;
//       text-decoration: none;
//       font-family: 'Helvetica', sans-serif;
//       display: inline-block;
//       margin: 0 10px;
//       padding: 12px 15px;
//       color: white;
//       border: 1px solid black;
//       box-shadow: 0 0 20px rgb(37, 28, 28);
//       text-transform: uppercase;
//       display: block;
//       left:40%;

//       border-radius: 10px;

//       position: relative;
//       background: radial-gradient(circle, rgba(204,102,0,1) 0%, rgba(253,122,29,1) 23%, rgba(252,176,69,1) 100%);
//       z-index:1;
//       transition: 0.5s;

// }

// .banner-btn a span{
//     width: 0%;
//     height: 100%;
//     border-radius: 10px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: linear-gradient( 97.3deg,  rgba(25,50,70,0.81) 10.7%, rgba(155,65,25,0.72) 39.5%, rgba(255,192,0,0.81) 69.7% );
//     z-index:-1;
//     transition: 0.5s;

// }

// .banner-btn a:hover span{
//     width: 100%;

// }
// .banner-btn a:hover {
//     color:white;

// }

// #topNav{
//     width: 100%;
//     height: 70px;
//     max-width: 100%;
//     position: fixed;
//     display: block;
//     top: -70px;
//     background: linear-gradient( rgba(204,102,0,1) 0%, rgba(213,94,9,1) 67%, rgba(252,176,69,1) 99%);
//     z-index:2;
//     transition: top 0.5s;
//     padding: 0 50px 0 50px;

// }
// #topNav a{
//     float: left;
//     display: block;
//     margin : 20px 40px 20px 40px;

//     text-decoration: none;
//     color: white;

// }

// #menuBtn {
//     width: 50px;
//     height: 50px;
//     text-align: center;
//     position: fixed;
//     left: 10px;
//     top: 20px;
//     z-index: 3;
//     cursor: pointer;
//     background: linear-gradient( rgba(204,102,0,1) 0%, rgba(213,94,9,1) 77%, rgba(252,176,69,1) 99%);
//     border-radius: 25px

// }

//  #menuBtn img{
//     width: 50px;
// }
// Introduction

//  #Introduction{
//     width: 100%;
//     padding: 50px 0;
//     background: #ffc3a0;

// }

// .title-text{
//     position: center;
//     padding: 10px;
//     width: 70%;
//     margin: 10px 300px;;

// }

// .title-text p{
//     margin: auto 20px;
//     font-size: 25px;
//     color:black;
//     position: relative;
//     z-index: 1;
//     display: inline-block;

// }

// .title-text p::after{
//     content: '';
//     width: 170px;
//     height: 50px;
//     position: absolute;
//     background: linear-gradient(rgba(253,122,29,1), #fff);
//     top: -10px;
//     left: -10px;
//     z-index: -1;
//     border-radius: 20px;

// }

// .title-text h1{
//     margin: 10px;
//     font-size: 50px;
//     color:black;
//     border-bottom: 5px solid black;
// }

// .Intro-box{
//     width: 70%;
//     margin:auto 320px;
//     display: flex;
//     flex-wrap: wrap;
// }

// .Intro {
//     flex-basis: 60%;

// }

// .Intro p{
//     font-size: 24px;
//     line-height: 30px;
//     margin-bottom: 32px;

// }

// .Intro h2{
//     font-size: 34px;
//     line-height: 30px;
//     margin-bottom: 10px;

// }

// .Intro-img{
//     flex-basis: 40%;
//     margin: auto;

// }
// .Intro-img img{
//     width: 70%;
//     margin-left: 140px;
//     border-radius: 50px;
// }

// #Experiences{
//     width: 100%;
//     padding: 80px 0;
//     height: 100%;
//     background: #ffc3a0;

// }

// .Experiences-title-text h1{
//     margin-left: 15%;
//     left: 50%;
//     font-size: 50px;
//     color:black;

// }

// #slider{
//     margin: 0 auto;
//     width: 80%;
//     max-width: 100%;
//     text-align: center;

// }

// #slider input[type =radio]{
//     display: none;
// }

// #slider label{
//     cursor: pointer;
//     text-decoration: none;
// }

// #slides{
//     padding: 60px;
//     position: relative;
//     height: 500px;
//      border-radius: 30px;
// }

// #overflow{
//     width: 100%;
//     overflow: hidden;
//     height: 1000px;
// }

// #r1:checked ~ #slides .inner{
//     margin-left: 0;
// }

// #r2:checked ~ #slides .inner{
//     margin-left: -100%;
// }

// #r3:checked ~ #slides .inner{
//     margin-left: -200%;
// }

// #slides .inner{
//     transition: margin-left 1s cubic-bezier(0.77, 0, 0.175,1);
//     width: 400%;
//     line-height: 3em;
//     height: 90%;

// }

// #slides .slide{
//     width: 25%;
//     float: left;
//     display: float;
//     justify-content: center;
//     align-items: center;
//     height: 80%;

// }

// #slides .slide1{
//     background: linear-gradient(rgba(0,0,0,0.5), #ffffff44), url(https://i2.wp.com/cavesocial.com/wp-content/uploads/2019/10/thortonsblog1.png);
//     margin-left: 1.5%;
//     background-repeat: no-repeat;
//     height: 60%;
//     background-size: 90% 100%;

// }

// #slides .slide2{
//     background: linear-gradient(rgba(0,0,0,0.5), #ffffff44), url(https://websitesca.sfo2.digitaloceanspaces.com/directory-logo/logo-r1MjAU6_HX);
//     margin-left: 5%;
//     background-size: 50% 100%;
//     background-repeat: no-repeat;
//     align-content: center;

// }

// #slides .slide3{
//     background: linear-gradient(rgba(0,0,0,0.5), #ffffff44), url(https://marvel-b1-cdn.bc0a.com/f00000000026007/resilienteducator.com/wp-content/uploads/sites/34/2015/05/Teaching-Social-Justice-in-Theory-and-Practice-2.jpg) ;
//     background-size: cover;
//     background-repeat: no-repeat;
//     margin-left: -6%;

// }

// .slide-content{
//     padding: 10px;
//     margin: 10px 90px 0 -100;
//     color: white ;
//     line-height: 35px;
// }
// .slide1 .slide-content{
//     padding: 10px;
//     margin: 10px 290px 0 100px;
//     color: white ;
//     line-height: 35px;
// }

// .slide-content p{
//     margin-top: 10%;
//     line-height: 45px;
//     font-size: 30px;
//     color: floralwhite;

// }

// .slide2 .slide-content{
//     padding: 10px;
//     margin: 0px 10px 0 0%;
//     width: 50%;
//     color: white;

// }

// .slide2 .slide-content p {
//     color: white;
//     margin: 10% 30px 0 0%;
// }
// .slide3 .slide-content{
//     padding: 10px;
//     margin: 2% 20% 0 20%;
//     color: white;

// }

// #controls{
//     margin: -130px 0 0 0;
//     width: 100%;
//     height: 50px;
//     z-index: 3;
//     position: relative;

// }

// #controls label{
//     transition: opacity 0.5s ease-out;
//     width: 50px;
//     height: 50px;
//     opacity: .4;
// }

// #controls label:hover{
//     opacity: 1;
// }

// #r1:checked ~ #controls label:nth-child(2),
// #r2:checked ~ #controls label:nth-child(3),
// #r3:checked ~ #controls label:nth-child(1) {
//     background: url(https://www.flaticon.com/svg/vstatic/svg/854/854183.svg?token=exp=1617734784~hmac=5f517d94deb2d2cb8ce32bc37241c897) no-repeat;
//     float:right;
//     margin: -200px -50px 0 0 ;
//     transform: rotate(180deg);
//     display: block;
// }

// #r1:checked ~ #controls label:nth-child(3),
// #r2:checked ~ #controls label:nth-child(1),
// #r3:checked ~ #controls label:nth-child(2) {
//     background: url(https://www.flaticon.com/svg/vstatic/svg/854/854183.svg?token=exp=1617734784~hmac=5f517d94deb2d2cb8ce32bc37241c897) no-repeat;
//     float:left;
//     margin: -200px 0 0 -50px;
//     display: block;
// }

/*  

@media screen and (max-width: 1200px, min-width: 700px){
    
    .banner{
        height: 70vh
    }
    
    .banner-text h1{
        font-size: 30px;
        margin: 10% 10px;
    
}
    
    .banner-btn a{
        display: block;
        margin: 20px 300px;
        text-align: center;
        width: 300px;
        height: 40px;
        font-size: 20px;
    }
    
    .banner-text p{
        font-size: 20px;
    }
    
    #topNav{
        font-size: 15px;
        width: 100%;
        height: 130px;
        

    }
    #topNav a{
        width:20%;
        height: 20%;
        margin : 1px 0px 11px 11px;
        
        
       
    }

    .banner-btn a{
      left: -8%;
    
    .title-text{
        font-size:10px;
        width: inherit;  
        margin-left: 200px;
    }
    
    .Intro-box{
    width: 50%;
    margin :auto;
}

    .Intro {
        flex-basis: 70%;

    }

    .Intro p{
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 32px;

    }

    .Intro-img{
        flex-basis: 30%;
        margin: auto ;

    }
    .Intro-img img{
        width: 100%;
        margin-left: 10px;
        
    }


    #r1:checked ~ #controls label:nth-child(2),
    #r2:checked ~ #controls label:nth-child(3),
    #r3:checked ~ #controls label:nth-child(1) {
        margin: 0 ;
    
}

    #r1:checked ~ #controls label:nth-last-child(3),
    #r2:checked ~ #controls label:nth-last-child(1),
    #r3:checked ~ #controls label:nth-last-child(2) {
        margin: 0;
    }

  
    
    .banner-btn a{
      
      width: 20%;
      font-size: 70%;
      display: inline-block;
      margin: 0 10px;
      padding: 12px 15px;
      color: white;
      border: 1px solid black;
      box-shadow: 0 0 20px rgb(37, 28, 28);
      text-transform: uppercase;
      display: block;
      left:40%;
      
      border-radius: 10px;
     
      position: relative;
      background: radial-gradient(circle, rgba(204,102,0,1) 0%, rgba(253,122,29,1) 23%, rgba(252,176,69,1) 100%);
      z-index:1;
      transition: 0.5s;
 
} 

 */
