* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.5125rem;
}

:is(h1, h2, h3) {
  line-height: 1.5;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
}

section {
  padding: 3rem;
}

.container {
  margin-inline: auto;
  width: 100%;
}

.img {
  max-width: 100%;
  display: block;
}

header {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  margin-bottom: 1rem;
  background: #d66f16;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1920px) {
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  padding: 1rem;
  z-index: 1;
}

@media (max-width: 480px) {
  header .logo-container {
    visibility: hidden;
  }
}

@media (min-width: 1920px) {
  header .logo-container {
    justify-self: flex-start;
  }
}

header .logo-container img {
  -o-object-fit: cover;
     object-fit: cover;
}

header nav {
  position: absolute;
  right: 0%;
  top: 30%;
  width: 100%;
  background: #d66f16;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: top;
          transform-origin: top;
}

header nav ul {
  list-style: none;
  position: relative;
  display: inline-block;
  top: -1rem;
  z-index: 0;
}

@media (min-width: 1920px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header nav ul img {
  -o-object-fit: cover;
     object-fit: cover;
}

header nav ul li {
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-right: 2em;
  font-weight: 600;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out 0.25s;
  transition: opacity 0.25s ease-in-out 0.25s;
}

header nav ul li a:hover {
  color: black;
}

.link-1::after {
  position: absolute;
  top: calc((1-1) * 15%);
  right: 0;
  content: '';
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.link-1:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.link-2::after {
  position: absolute;
  top: calc((2-1) * 15%);
  right: 0;
  content: '';
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.link-2:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.link-3::after {
  position: absolute;
  top: calc((3-1) * 15%);
  right: 0;
  content: '';
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.link-3:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.link-4::after {
  position: absolute;
  top: calc((4-1) * 15%);
  right: 0;
  content: '';
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.link-4:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.link-5::after {
  position: absolute;
  top: calc((5-1) * 15%);
  right: 0;
  content: '';
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.link-5:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.link-6::after {
  position: absolute;
  top: calc((6-1) * 15%);
  right: 0;
  content: '';
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.link-6:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
}

.nav-toggle-label {
  position: absolute;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
}

.nav-toggle-label .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  position: relative;
  padding: 1rem;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.nav-toggle-label .icon-container:hover {
  background-color: rgba(255, 255, 250, 0.2);
}

#banner {
  padding-top: 112px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

#banner .container {
  background-color: #de5f0e;
}

#banner .container h1 {
  padding-top: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#banner .container p {
  padding: 2em;
  font-size: 1.5rem;
}

#Introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: -webkit-gradient(linear, left bottom, right top, from(#cf7c22), color-stop(#d66f16), color-stop(#de5f0e), color-stop(#e54b0d), to(#ed2f13));
  background: linear-gradient(to right top, #cf7c22, #d66f16, #de5f0e, #e54b0d, #ed2f13);
  width: 100vw;
}

#Introduction span {
  font-weight: bold;
  font-size: 1.4rem;
}

#Introduction .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 1rem;
}

#Introduction .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20vw;
          flex: 1 1 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2em;
  padding: 2rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

#Introduction .container > *:hover {
  -webkit-transform: translate3D(0, -1px, 0) scale(1.06);
          transform: translate3D(0, -1px, 0) scale(1.06);
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

#Introduction .container > * + * {
  margin-left: 0;
}

@media (min-width: 390px) {
  #Introduction .container > * + * {
    margin-left: 1rem;
  }
}

#Introduction .container .Photo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#Introduction .container .Photo-box img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 15rem;
  height: 15rem;
  top: 0;
  border-radius: 50%;
}

/*  

@media screen and (max-width: 1200px, min-width: 700px){
    
    .banner{
        height: 70vh
    }
    
    .banner-text h1{
        font-size: 30px;
        margin: 10% 10px;
    
}
    
    .banner-btn a{
        display: block;
        margin: 20px 300px;
        text-align: center;
        width: 300px;
        height: 40px;
        font-size: 20px;
    }
    
    .banner-text p{
        font-size: 20px;
    }
    
    #topNav{
        font-size: 15px;
        width: 100%;
        height: 130px;
        

    }
    #topNav a{
        width:20%;
        height: 20%;
        margin : 1px 0px 11px 11px;
        
        
       
    }

    .banner-btn a{
      left: -8%;
    
    .title-text{
        font-size:10px;
        width: inherit;  
        margin-left: 200px;
    }
    
    .Intro-box{
    width: 50%;
    margin :auto;
}

    .Intro {
        flex-basis: 70%;

    }

    .Intro p{
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 32px;

    }

    .Intro-img{
        flex-basis: 30%;
        margin: auto ;

    }
    .Intro-img img{
        width: 100%;
        margin-left: 10px;
        
    }


    #r1:checked ~ #controls label:nth-child(2),
    #r2:checked ~ #controls label:nth-child(3),
    #r3:checked ~ #controls label:nth-child(1) {
        margin: 0 ;
    
}

    #r1:checked ~ #controls label:nth-last-child(3),
    #r2:checked ~ #controls label:nth-last-child(1),
    #r3:checked ~ #controls label:nth-last-child(2) {
        margin: 0;
    }

  
    
    .banner-btn a{
      
      width: 20%;
      font-size: 70%;
      display: inline-block;
      margin: 0 10px;
      padding: 12px 15px;
      color: white;
      border: 1px solid black;
      box-shadow: 0 0 20px rgb(37, 28, 28);
      text-transform: uppercase;
      display: block;
      left:40%;
      
      border-radius: 10px;
     
      position: relative;
      background: radial-gradient(circle, rgba(204,102,0,1) 0%, rgba(253,122,29,1) 23%, rgba(252,176,69,1) 100%);
      z-index:1;
      transition: 0.5s;
 
} 

 */
/*# sourceMappingURL=main.css.map */